{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    <div class="form-group">
    {{ form_errors(loginForm) }}

    {{ form_start(loginForm) }}
    
        {{ form_row(loginForm._username, {
            label: 'Nom d\'utilisateur'
        })  }}
        {{ form_row(loginForm._password, {
            label: 'Mot de passe'
        })  }}

        <button type="submit" class="btn btn-primary">Connexion</button>
    {{ form_end(loginForm) }}
    </div>
{% endblock %}
