{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Connection</h1>

    <div class="form-group">

    {% if error %}
        <div class="alert alert-success">
        {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    
    {% for message in app.flashes('login-flash') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    
    {% if app.user %}
        <div class="alert alert-success">
            <p>Vous êtes connecté en tant que : {{ app.user.username }}</p>
            <a class="btn btn-primary" href="{{ path("app_logout") }}">Déconnexion</a>
        </div>

    {% else %}
    <form action="{{ path('app_login') }}" method="post">
    
    {#
        <label for="email">Email</label>
        <input type="text" class="form-control mb-3" id="email" name="_email" value="{{ last_email }}">
     
    #}
        <label for="username">Nom d'utilisateur</label>
        <input type="text" class="form-control mb-3" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Mot de passe</label>
        <input type="password" class="form-control mb-3" id="password" name="_password">

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
        
        {#
        <input type="hidden" id="slug" value="{{ ref }}">
        #}

        <button type="submit" class="btn btn-secondary">Se connecter</button>
        
        <a href="{{ path('app_register') }}" class="btn btn-primary">S'enregistrer</a>
        <a href="{{ path('forgotten_password') }}" class="btn btn-primary">Mot de passe oublié</a>
        {# #}
    </form>

    {% endif %}

    </div>
{% endblock %}
