{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

    <h1>New Post</h1>

    {{ form_start(formTrick) }}

    <div class="form-group">
        <label for="">Titre</label>
        {{ form_widget(formTrick.title) }}
    </div>

    <div class="form-group">
        <label for="">Contenu</label>
        {{ form_widget(formTrick.text) }}
    </div>
    
    <div class="form-group">
        <label for="">Image</label>
        {{ form_widget(formTrick.image) }}
    </div>
 
    {{ form_end(formTrick) }}

{% endblock %}
