{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

    <h1>New Post</h1>

    {{ form_start(formArticle) }}

    <div class="form-group">
        <label for="">Titre</label>
        {{ form_widget(formArticle.title) }}
    </div>

    <div class="form-group">
        <label for="">Contenu</label>
        {{ form_widget(formArticle.text) }}
    </div>
    
    <div class="form-group">
        <label for="">Image</label>
        {{ form_widget(formArticle.image) }}
    </div>
 
    {{ form_end(formArticle) }}

{% endblock %}
