{% extends 'base.html.twig' %}
{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {% if edit_mode == true %}Editer un Trick{% else %}Nouveau Trick{% endif %}
    {% endblock %}

{% block body %}

    <h1>{% if edit_mode == true %}Editer un Trick{% else %}Nouveau Trick{% endif %}</h1>

    {% for message in app.flashes('ok_edit') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}

    <!-- form -->
    {{ form_start(formTrick) }}

    <button type="submit" class="btn btn-success">
        {% if edit_mode == true %}
        Modifier
        {% else %}
        Enregistrer
        {% endif %}
    </button>
    <a class="btn btn-secondary" href="{{ path("show_trick", {"slug": trick.slug }) }}">Retour à la fiche</a>

    {{ form_row(formTrick.title, {"attr":{"placeholder":"Titre"}}) }}
    {{ form_row(formTrick.content, {"attr":{"placeholder":"Contenu"}}) }}
    {{ form_row(formTrick.image, {"attr":{"placeholder":"Image (Url)"}}) }}
    {{ form_row(formTrick.media) }}
    {#
    {{ form_row(formTrick.trickTags) }}#}
    {{ form_end(formTrick) }}

    <!-- tags -->
    <div class="content">
    {% for trickTag in trick.trickTags %}
        <a class="card-link" href="{{ path("show_tag", {id: trickTag.tag.id}) }} ">{{ trickTag.tag.cat.name }} : {{ trickTag.tag.name }}</a> 
    {% endfor %}
    </div>
    
    <!-- catalog of images -->
    <table class="table table-hover">
        <tr class="table-info">
            <th>Vignette</td>
            <th>Url (à mettre dans l'article)</td>
            <th>Image principale</td>
            <th>Voir</td>
        </tr>
        {% for media in trick.media %}
        <tr class="table-dark">
            <td><img src="http://oc6.test/public/uploads/{{ media.filename }}" width="240px" /></td>
            <td>{{ media.filename }}</td>
            <td><a href="{{ path("edit_trick_img", {id: trick.id, mediaId: media.id }) }}">{% if media.filename == trick.image %}Oui{% else %}Non{% endif %}</a></td>
            <td><a href="http://oc6.test/public/uploads/{{ media.filename }}" target="_blank"><i class="bi bi-see"></i>Voir</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
