{% extends 'base.html.twig' %}
{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}

{% block title %}
    {% if edit_mode == true %}Editer un Trick{% else %}Nouveau Trick{% endif %}
    {% endblock %}

{% block body %}

    <h1>{% if edit_mode == true %}Editer un Trick{% else %}Nouveau Trick{% endif %}</h1>

    {{ form_start(formTrick) }}

    {{ form_row(formTrick.title, {"attr":{"placeholder":"Titre"}}) }}
    {{ form_row(formTrick.content, {"attr":{"placeholder":"Contenu"}}) }}
    {#    #}
    {{ form_row(formTrick.image, {"attr":{"placeholder":"Image (Url)"}}) }}

    {{ form_row(formTrick.media) }}

    <button type="submit" class="btn btn-success">
        {% if edit_mode == true %}
        Modifier
        {% else %}
        Enregistrer
        {% endif %}
    </button>

    {{ form_end(formTrick) }}

{% endblock %}
