{% extends 'base.html.twig' %}

{% block title %}Tricks!{% endblock %}

{% block body %}
    
    {% for message in app.flashes('alerts') %}
<div class="alert alert-success">
    {{ message | raw }}
</div>
    {% endfor %}

<div class="example-wrapper row">
    <h1>Bienvenue sur SnowTricks</h1>
    <h4>Partagez, éditer vos Tricks !</h4>

    {% for trick in tricks %}
    
    <article class="col col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12 col-12">
    <div class="card border-light mb-3">
        <div class="card mb-3">
            <h3 class="card-header" style="height:100px;">{{ trick.title | raw}}</h3>
            <div class="card-body">
                <h5 class="card-title">Rédigé par : {{ trick.username }}</h5>
                <h6 class="card-subtitle text-muted">Mis à jour le : {{ trick.updatedAt | date("d/m/Y") }}</h6>
            </div>
            <div class="card-footer text-muted">
                {% if is_granted(minRoleToEdit) or trick.username == currentUser.username  %}
                    <a class="card-link" href="{{ path("edit_trick", {id: trick.id}) }}"><i class="bi bi-pencil"></i> Editer</a>
                    {#{% if is_granted('ROLE_ADMIN') %}#}
                        {% if trick.status == 1 %}
                        <a class="card-link" href="{{ path("admin_tricksId", {id: trick.id}) }}"><i class="bi bi-trash"></i> Supprimer</a>
                        {% else %}
                        <a class="card-link" href="{{ path("admin_tricksId", {id: trick.id}) }}"><i class="bi bi-eraser"></i> Publier</a>
                        {% endif %}
                    {#{% endif %}#}
                {% endif %}
            </div>
            <div class="thumb" style="background-image:url(http://oc6.test/public/uploads/{{ trick.image }});"> </div>
            {#
            <img src="http://oc6.test/public/uploads/{{ trick.image }}" width="100%"/>
            #}
            <div class="card-footer">
                {# {{ trick.content | raw}} #}
                <a class="card-link" href="{{ path("show_trick", {slug: trick.slug}) }}">Lire cette fiche</a>
            </div>
            {#
            <div class="card-footer text-muted">
            {% for trickTag in trick.trickTags %}
                <a class="card-link" href="{{ path("show_tag", {id: trickTag.tag.id}) }} ">{{ trickTag.tag.cat.name }} : {{ trickTag.tag.name }}</a> 
            {% endfor %}
            </div>
            #}
        </div>
        </div>
    </article>

    {% endfor %}

</div>
{% endblock %}
