{% extends 'base.html.twig' %}

{% block title %}Tricks!{% endblock %}

{% block body %}
    
    {% for message in app.flashes('alerts') %}
<div class="alert alert-success">
    {{ message | raw }}
</div>
    {% endfor %}

<div class="example-wrapper">
    <h1>All of Tricks</h1>

    {% for trick in tricks %}
    
    <article class="card border-light mb-3">
        <div class="card-header">
            <h1>{{ trick.title | raw}}</h1>
            <div class="metadata">Rédigé par : {{ trick.username }}</div>
            <div class="metadata">Mis à jour le : {{ trick.updatedAt | date("d/m/Y") }}</div>
        </div>
        <div class="card-boby">
        <div class="image">
            <img src="{{ trick.image | raw}}" width="100%"/>
        </div>
            <div class="content">
                <div class="text-body-primary">{{ trick.content | raw}}<div>
                <div class="btn"><a href="{{ path("show_trick", {slug: trick.slug}) }}">Lire la suite</a></div>
            </div>
    </article>

    {% endfor %}

</div>
{% endblock %}
