{% extends 'base.html.twig' %}

{% block title %}Tricks!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Articles</h1>

    {% for trick in tricks %}
    
    <article class="card border-light mb-3">
        <div class="card-header">
            <h1>{{ trick.title | raw}}</h1>
            <div class="metadata">{{ trick.createdAt | date("d/m/Y") }}</div>
        </div>
        <div class="card-boby">
        <div class="image">
            <img src="{{ trick.image | raw}}"/>
        </div>
            <div class="content">
                <div class="text-body-primary">{{ trick.content | raw}}<div>
            </div>
        <div class="btn btn-lg btn-primary"><a href="{{ path("show_trick", {id: trick.id}) }}">Lire la suite</a></div>
    </article>

    {% endfor %}

</div>
{% endblock %}
