{% extends 'base.html.twig' %}
{% form_theme formTrick 'bootstrap_4_layout.html.twig' %}

{% block title %}Nouveau Trick{% endblock %}

{% block body %}

    <h1>Nouveau Trick</h1>
    <main role="main">
        <div class="card border-light mb-3">
            <div class="card-header">
            Edition du contenu
            </div>
            <div class="card-body">

            {% for message in app.flashes('ok_edit') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}

            <!-- form -->
            {{ form_start(formTrick) }}
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a class="btn btn-secondary" href="{{ path("app_admin") }}">Retour à l'admin</a>
            {{ form_row(formTrick.title, {"attr":{"placeholder":"Titre"}}) }}
            {{ form_row(formTrick.content, {"attr":{"placeholder":"Contenu"}}) }}
            {{ form_row(formTrick.image, {"attr":{"placeholder":"Image (Url)"}}) }}
            {{ form_row(formTrick.video) }}
            {{ form_row(formTrick.media) }}
            {{ form_end(formTrick) }}
            </div>
        </div>
    </main>
{% endblock %}
