{% extends 'base.html.twig' %}

{% block title %}{{ trick.title | raw}}!{% endblock %}

{% block body %}

<div class="example-wrapper">

    <article>
        <h1>{{ trick.title | raw}}</h1>
        <div class="metadatea">{{ trick.createdAt | date("d/m/Y") }}</div>
        <div class="content">
            <img src="{{ trick.image | raw}}"/>
            {{ trick.content | raw}}
        </div>
    </article>

</div>
{% endblock %}
