{% extends 'base.html.twig' %}
{% if user is defined %}
{% if user.username is defined %}
{% set currentUser = user.username %}
{% else %}
{% set currentUser = '' %}
{% endif %}
{% endif %}

{% block title %}{{ trick.title | raw}}{% endblock %}

{% block body %}

<div class="example-wrapper col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-12 col-12">
    <!-- article -->
    <article class="card border-light mb-3">
    
        <!-- title -->
        <div class="card-header">
            <h1>{{ trick.title | raw}}</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Rédigé par : {{ trick.username }}</h5>
            <h6 class="card-subtitle text-muted">Mis à jour le : {{ trick.updatedAt | date("d/m/Y") }}</h6>
        </div>
        
        <!-- edit buttons -->
        <div class="card-footer">
            {% if is_granted(minRoleToEdit) or trick.username == currentUser %}
                <h6><a class="card-link" href="{{ path("edit_trick", {id: trick.id}) }}"><i class="bi bi-pencil"></i> Editer</a></h6>
                {% if trick.status == 1 %}
                <h6><a class="card-link" href="{{ path("admin_tricksId", {id: trick.id}) }}"><i class="bi bi-trash"></i> Supprimer</a></h6>
                {% else %}
                <h6><a class="card-link" href="{{ path("admin_tricksId", {id: trick.id}) }}"><i class="bi bi-eraser"></i> Publier</a></h6>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="card-boby">

            <!-- catalog images -->
            {% for media in trick.media %}
            <div class="image">
                {% if media.mediatype.type == "image" %}
                <img src="http://oc6.test/public/uploads/{{ media.filename }}" width="100%" />
                {% elseif media.mediatype.type == "youtube" %}
                <iframe width="100%" height="315" src="{{ media.filename }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                {% endif %}
                </td>
            </div>
            {% endfor %}
            
            <!-- content -->
            <div class="content">
                <div class="text-body-primary">{{ trick.content | raw}}</div>
            </div>
            
            <!-- tags -->
            <div class="card-footer text-muted">
                Tags: 
                {% for trickTag in trick.trickTags %}
                    <a class="card-link" href="{{ path("show_tag", {id: trickTag.tag.id}) }} ">{{ trickTag.tag.cat.name }} : {{ trickTag.tag.name }}</a> 
                {% endfor %}
            </div>
        </div>
    </article>

    <!-- comments -->
    <h3>{{ nbOfComments }} Commentaires</h3>

    {% for message in app.flashes('thanks_comment') %}
    <div class="alert alert-success">
        <p>{{ message }}</p>
    <a class="btn btn-secondary" href="{{ path("show_trick", {"slug": trick.slug }) }}">De rien</a>
    </div> 
    {% endfor %}

    {% if app.user %}
    <div class="form-floating mb-3 alert alert-primary">
        {{ form_start(formComment) }}
        {{ form_row(formComment.content, {"attr":{"placeholder":"Comentaire...", "class":"form-control"}}) }}
        <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(formComment) }}
    </div>
    {% else %}
        <div class="text-body-primary alert alert-secondary">
            Vous devez être logué pour poster un commentaire. 
            <a class="nav-link" href="{{ path("app_login") }}">Connexion</a> 
        </div>
    {% endif %}

    {% for comment in comments %}
        {#% if comment.status == 1 %#}

        <section class="card text-white bg-primary mb-3">
            <div class="card-header">
                <img src="http://oc6.test/assets/avatars/{{ comment.avatar }}" width="48px"/>
                <strong>{{ comment.username | raw}}</strong> - 
                <small>{{ comment.date | date("d/m/Y") }}</small>
            </div>
            <div class="card-boby">
                <div class="content">
                    <div class="text-body-primary">{{ comment.content | raw}}</div>
                </div>
            </div>
        </section>
        {#% endif %#}
    {% endfor %}
    
    <div>
        <ul class="pagination align-center">
            <li class="page-item">
        {% if previous >= 0 %}
            <a class="page-link" href="{{ path("show_trick", {"slug": trick.slug, 'offset': previous }) }}">&laquo;</a>
        {% else %}
            <a class="page-link disabled" href="#">&laquo;</a>
        {% endif %}
            </li>
            {% for key,numPage in arrayPages %}
                {% if numPage == page %}
            <li class="page-item active">
                {% else %}
            <li class="page-item">
                {% endif %}
            <a class="page-link" href="{{ path("show_trick", {"slug": trick.slug, 'offset': numPage }) }}">{{ key+1 }}</a>
            </li>
            {% endfor %}
            <li class="page-item">
        {% if next < nbOfComments %}
            <a class="page-link" href="{{ path("show_trick", {"slug": trick.slug, 'offset': next }) }}">&raquo;</a>
        {% else %}
            <a class="page-link disabled" href="#">&raquo;</a>
        {% endif %}
            </li>
        </ul>
    </div>

</div>
{% endblock %}
