{% extends 'base.html.twig' %}

{% block title %}Tricks!{% endblock %}

{% block body %}
    
    {% for message in app.flashes('alerts') %}
<div class="alert alert-success">
    {{ message | raw }}
</div>
    {% endfor %}

<div class="example-wrapper">
    <h1>{{ pageTitle }}</h1>

    {% for trick in tricks %}
    
    <article class="card border-light mb-3">
        <div class="card mb-3">
            <!-- header -->
            <h3 class="card-header">{{ trick.title | raw}}</h3>
            <div class="card-body">
                <h5 class="card-title">Rédigé par : {{ trick.username }}</h5>
                <h6 class="card-subtitle text-muted">Mis à jour le : {{ trick.updatedAt | date("d/m/Y") }}</h6>
            </div>
            
            <!-- edit buttons -->
            <div class="card-footer">
                {% if is_granted('ROLE_EDIT') or is_granted('ROLE_ADMIN') %}
                    <h6><a class="card-link" href="{{ path("edit_trick", {id: trick.id}) }}"><i class="bi bi-pencil"></i> Editer</a></h6>
                    {#{% if is_granted('ROLE_ADMIN') %}#}
                        {% if trick.status == 1 %}
                        <h6><a class="card-link" href="{{ path("admin_tricksId", {id: trick.id}) }}"><i class="bi bi-trash"></i> Supprimer</a></h6>
                        {% else %}
                        <h6><a class="card-link" href="{{ path("admin_tricksId", {id: trick.id}) }}"><i class="bi bi-eraser"></i> Publier</a></h6>
                        {% endif %}
                    {#{% endif %}#}
                {% endif %}
            </div>
            
            <!-- hero image -->
            <img src="http://oc6.test/public/uploads/{{ trick.image }}" width="100%"/>
            
            <!-- unused -->
            <div class="card-body">
                {# {{ trick.content | raw}} #}
                <a class="card-link" href="{{ path("show_trick", {slug: trick.slug}) }}">Lire cette fiche</a>
            </div>
            
            <!-- tags -->
            <div class="card-footer text-muted">
            Tags : 
            {% for trickTag in trick.trickTags %}
                <a class="card-link" href="{{ path("show_tag", {id: trickTag.tag.id}) }} ">{{ trickTag.tag.cat.name }} : {{ trickTag.tag.name }}</a> 
            {% endfor %}
            </div>
        </div>
    </article>

    {% endfor %}

</div>
{% endblock %}
