{% extends 'base.html.twig' %}

{% block title %}{{ trick.title | raw}}{% endblock %}

{% block body %}

<div class="example-wrapper">

    <article class="card border-light mb-3">
        <div class="card-header">
            <h1>{{ trick.title | raw}}</h1>
            <div class="metadata">Rédigé par : {{ trick.username }}</div>
            <div class="metadata">Mis à jour le : {{ trick.updatedAt | date("d/m/Y") }}</div>
            <div class="btn"><a href="{{ path("edit_trick", {id: trick.id}) }}">Editer</a></div>
        </div>
        <div class="card-boby">
        <div class="image">
            <img src="{{ trick.image | raw}}"/>
        </div>
        <div class="content">
            <div class="text-body-primary">{{ trick.content | raw}}</div>
        </div>
    </article>

    <h3>Commentaires</h3>

    {% if justCommented == true %}
    <div class="alert alert-primary">Merci pour votre commentaire. Il sera publié après validation.</div>
    {% else %}
    <div class="form-floating mb-3 alert alert-primary">
        {{ form_start(formComment) }}
        {{ form_row(formComment.content, {"attr":{"placeholder":"Contenu", "class":"form-control"}}) }}
        <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(formComment) }}
    </div>
    {% endif %}

    {% for comment in trick.comments %}
    <section class="card text-white bg-primary mb-3">
        <div class="card-header">
            <strong>{{ comment.username | raw}}</strong>
            <div class="metadata">{{ comment.date | date("d/m/Y") }}</div>
        </div>
        <div class="card-boby">
            <div class="content">
                <div class="text-body-primary">{{ comment.content | raw}}</div>
            </div>
        </div>
    </section>
    {% endfor %}

</div>
{% endblock %}
