{% extends 'base.html.twig' %}
{% if user is defined %}
{% if user.username is defined %}
{% set currentUser = user.username %}
{% else %}
{% set currentUser = '' %}
{% endif %}
{% endif %}

{% block title %}Commentaires{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Tous les commentaires</h1>
    <table class="table table-hover">
        <tr class="table-info">
            <th>id</td>
            <th>auteur</td>
            <th>Trick</td>
            <th>contenu</td>
            <th>Date</td>
            <th>Action</td>
            <th>Voir</td>
        </tr>
    {% for comment in comments %}
        {% if is_granted(minRoleToEdit) or comment.username == currentUser %}
        <tr class="table-dark">
            <td>{{comment.id}}</td>
            <td>{{comment.username}}</td>
            <td>{{comment.trickTitle}}</td>
            <td>{{comment.content | raw}}</td>
            <td>{{comment.date | date("d/m/Y")}}</td>
            <td>
            {% if (comment.status == 1) %}
            <a class="btn btn-success" href="{{ path("admin_commentsId", {"id": comment.id }) }}">Publié</a>
            {% else %}
            <a class="btn btn-warning" href="{{ path("admin_commentsId", {"id": comment.id }) }}">Dépublié</a>
            {% endif %}
            </td>
            <td>
            <a class="btn btn-primary" href="{{ path("show_trick", {"slug": comment.trickSlug }) }}">Afficher</a>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>
{% endblock %}
